body{
    border: 5px solid black;
    padding: 15px;

    display: grid;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-gap: 100px;
}


div#texto1, div#texto2, div#texto3, div#imagen1, div#imagen2, div#imagen3{
    
}

div#texto1{
    grid-column: 1;
    grid-row: 1;
}

div#texto2{
    grid-column: 1;
    grid-row: 2;
}

div#texto3{
    grid-column: 1;
    grid-row: 3;
}

div#imagen1{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

div#imagen2{
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

div#imagen3{
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}

div img{
    height: 100%;
}