body {
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHnkifeTuAcbSws-6cP_zvYLyO9zu012CHXg&s) center repeat;

    

}


h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;
}